<div ng-controller="GameController">
    <div class="game-ui" ng-hide="loading">
        <div class="countdown-container">
            <div class="countdown-container-ticker" style="width:{{timerPercent}}%">
            </div>
        </div>

        <div class="center" >

            <div ng-show="selectedEntity" style="height:100%">
                <img style="float:left;" ng-src="/images/{{selectedEntity.key}}/down_1.png"
                     style="width:6vw;height:6vh;margin-left:10px;margin-top:10px;">
                <div style="float:left;margin-left:20px;">
                    <span class="label">Health: {{selectedEntity.health}}/10</span><br>
                    <span class="label">Votes: {{selectedEntity.totalVoteCount}}</span>
                </div>
                <div style="float:left;margin-left:20px; border:solid 2px black; display:flex;justify-content:center;align-items:center; background-color:#71ccff; width:100px;height:100%;">
                    Move
                </div>
                <div style="float:left;margin-left:20px; border:solid 2px black; display:flex;justify-content:center;align-items:center; background-color:#da1709; width:100px;height:100%;">
                    Attack
                </div>
                <div style="float:left;margin-left:20px; border:solid 2px black; display:flex;justify-content:center;align-items:center; background-color:#30ff7b; width:100px;height:100%;">
                    Spawn
                </div>
            </div>
        </div>


        <div class="left-bubble" id="leftBubble">

        </div>


        <div class="right-bubble">
        </div>


    </div>

    <div ng-if="loading" class="loading">>Loading&#8230;</div>
</div>