<div ng-controller="GameController">
    <div class="game-ui" ng-hide="loading">
        <div class="countdown-container">
            <div class="countdown-container-ticker" style="width:{{timerPercent}}%">
            </div>
        </div>

        <div class="center">
            <span class="label"></span>
        </div>


        <div class="left-bubble" id="leftBubble">
        </div>


        <div class="right-bubble">
        </div>


    </div>

    <div ng-if="loading" class="loading">>Loading&#8230;</div>
</div>